article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
   color: var(--color-base-content);
   font-weight: 500;
}

article h1 strong,
article h2 strong,
article h3 strong,
article h4 strong,
article h5 strong,
article h6 strong {
   color: var(--color-base-content);
}

article strong {
   font-weight: 500;
}

article a,
article p,
article li,
article code,
article strong {
   color: var(--color-base-content);
}

article h1 {
   font-size: 4rem;
   margin: 2rem 0;
}

article h2 {
   font-size: 3rem;
   line-height: 1.1;
   margin: 2rem 0;
}

article h3 {
   font-size: 2.2rem;
   line-height: 1.1;
   margin: 2rem 0;
}

article h4 {
   font-size: 1.7rem;
   line-height: 1.1;
   margin: 2rem 0;
}

article p,
article li {
   font-size: 1.5rem;
   line-height: 1.5;
   width: 100%;
}

article a {
   text-decoration: underline;
}

article code, 
article pre {
   color: var(--color-primary);
   font-size: 1.2rem;
   border-radius: 6px;
}

article code {
   padding: 0.2rem 0.4rem;
   background-color: var(--color-base-300);
}

article pre {
   padding: 1rem;
}

article pre code {
   background-color: transparent;
}

article hr {
   margin: 3rem 0;
   border-color: var(--color-border);
}

article p {
   display: flex;
   flex-direction: column;
}

article p img {
   width: inherit;
}

@media (max-width: 900px) {
   article h1 {
      font-size: 2.5rem;
      margin: 1.6rem 0;
   }

   article h2 {
      font-size: 2.2rem;
      line-height: 1.1;
      margin: 1.6rem 0;
   }

   article h3 {
      font-size: 2rem;
      line-height: 1.1;
      margin: 1.6rem 0;
   }

   article h4 {
      font-size: 1.7rem;
      line-height: 1.1;
      margin: 1.6rem 0;
   }

   article hr {
      margin: 1.6rem 0;
   }

}