@import "tailwindcss";

@font-face {
   font-family: "Clash Display";
   src: url("../assets/fonts/ClashDisplay-Variable.woff2") format("woff2");
}

@font-face {
   font-family: "Clash Grotesk";
   src: url("../assets/fonts/ClashGrotesk-Variable.woff2") format("woff2");
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Clash Display";
   font-weight: 500;
}

p, li, a, span {
   font-family: "Clash Grotesk";
}

