---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PostItem from "../components/PostItem.svelte";

const posts = await getCollection("posts");
---


<Layout title="Blog">
    <section class="m-auto w-3/4 pt-40 pb-0">
        <h1 class="text-6xl font-bold">Blog</h1>
    </section>
    <section class="m-auto w-1/2 py-20">
        <div class="flex flex-col gap-4">
            {
              posts.map((post) => (
                <PostItem title={post.data.title} slug={`/posts/${post.slug}`} />
              ))  
            }
        </div>
    </section>
</Layout>