@import "tailwindcss";

@font-face {
   font-family: "Clash Display";
   src: url("./assets/fonts/ClashDisplay-Variable.woff2") format("woff2");
}

@font-face {
   font-family: "Clash Grotesk";
   src: url("./assets/fonts/ClashGrotesk-Variable.woff2") format("woff2");
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Clash Display";
}

p, li, a, span {
   font-family: "Clash Grotesk";
}



article h1 {
   font-size: 4rem;
   margin: 2rem 0;
}

article h2 {
   font-size: 3rem;
   line-height: 1.1;
   margin: 2rem 0;
}

article h3 {
   font-size: 2.2rem;
   line-height: 1.1;
   margin: 2rem 0;
}

article h4 {
   font-size: 1.7rem;
   line-height: 1.1;
   margin: 2rem 0;
}

article p, li {
   font-size: 1.5rem;
   line-height: 1.5;
   width: 100%;
}

article a {
   text-decoration: underline;
}

article code {
   background-color: #e6e4e4;
   padding: 0.2rem 0.4rem;
   font-size: 1rem;
   border-radius: 6px;
}

article hr {
   margin: 3rem 0;
   border: 1px solid #e6e4e4;
}

article p{
   display: flex;
   flex-direction: column;
}

article p img{
   width: 100%;
}

